*{
  margin: 0;
  padding: 0;
}


/*det här är hur min nav ska se ut. z index betyder att den ska lägga sig framför och sticky att den ska vara fast och följa med sidan när du scrollar, top 0 menas med att den ska sitta på toppen av sidan*/
/* denna är i flex*/
nav {
  background-color:rgb(0, 0, 0);
  display:flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  position: sticky;
  top:0;
  z-index: 4;


}

/*knappar blir mörkare när man har pilen över */
a:hover {
  color:rgb(92, 10, 10);
}

/*hemknappen ska sitta lite längre åt vänster */
.home {
  margin-left: 30px;
}


.color {
/*color:rgb(139, 0, 0);*/
color: rgb(208, 43, 30);
  text-decoration: none;

}

/* .color är menyraden*/

/* nu börjar generella classer som går över flera sidor*/
.container {

  background-color:black;
  color: white;
}

.rubrik {
  font-size: 250%;
  color: white;
  text-align: center;
  align-self:self-end;
  z-index: 3;
  font-family: 'Pangolin', cursive;
}

.imgz {
  width: 100%;
}

/* index.html*/
.welcome {
  width: 100%;
  height: 100%;
padding-top: 5%;
padding-left: 5%;

}

.intro {
  width: 100%;
  height: 100%;
padding-left: 5%;

}

.firstseason{
  width: 100%;
  height: 100%;
}


.a {
  width:100% ;
  height: 100%;
  padding-top: 5%;
  padding-left: 5%;

}

.b {
  width:100% ;
  height: 100%;
    font-size: 30px;
    padding-left: 5%;
    text-align: center;
    color: rgb(208, 43, 30);
    text-decoration-line: none;

}


.imga{
  width:100% ;
  height: 100%;
  padding-top: 5%;

}
.imgb{
  width:100% ;
  height: 100%;
}

.imgc{
  width:100% ;
  height: 100%;
}


/*hotd stylesheet start */

.containerforhotd {
  background-color: black;
  color: rgb(255, 255, 255);
}

/* ifall jag skulle ha en bakgrundsbild

html {
  background: url(img_hotd.jpg) no-repeat center fixed;
  background-size: cover;
  z-index: 1;
}

*/



.release{
  margin-top: 5%;
font-weight: bold;
}

.hotd{
margin-top: 5%;
margin-bottom: 5%;
}

.hotdtrailer{
justify-self: center;
}

.c{
  margin-top: 5%;
  margin-bottom: 5%;

}

.imgd{
  width:100% ;
  height: 100%;


}

.imge{
  width:100% ;
  height: 100%;

}
.imgf{
  width:100% ;
  height: 100%;

}

.imgg{
  width:100% ;
  height: 100%;

}
.imgh{
  width:100% ;
  height: 100%;

}
.imgi{
  width:100% ;
  height: 100%;

}
.imgj{
  width:100% ;
  height: 100%;

}
.imgk{
  width:100% ;
  height: 100%;

}
.imgl{
  width:100% ;
  height: 100%;

}
.imgm{
  width:100% ;
  height: 100%;

}

/* family.html*/

/* kom ihåg! Justify (hö/vä) & align (upp/ned)- content (hela containern), -items (samtliga items), -self (enskilda items)*/


#containerforfamily{
  background-color:black;
  color: white;

}

.familjenamn{
  display:flex;
  justify-content: space-between;
  text-align: center;

}

.listnamn{
text-decoration: none;
color: rgb(208, 43, 30);
}


.st{
  margin: 5%;
  background-color: rgb(107, 102, 90)

}


.ta{
  margin: 5%;
}

.la{
  margin: 5%;
}

.ar{
  margin: 5%;
}

.ba{
  margin: 5%;
}

.tu{
  margin: 5%;
}

.gr{
  margin: 5%;
}

.ty{
  margin: 5%;
}

.ma{
  margin: 5%;
}
